@use "variables" as *;

body {
  font-family: $font-family;
  line-height: $default-line-height;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Hyperlinks without underscore
a {
  text-decoration: none;
  color: inherit;
}
