@use "variables" as *;

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-header {
  max-width: $max-width;
  display: flex;
  justify-content: center;
}

.main-content {
  max-width: $max-width;
  display: flex;
  justify-content: center;
}

.blog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
