@use "variables";

@mixin container {
  max-width: 1296px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin image-cover {
  vertical-align: middle;
  object-fit: cover;
}

@mixin lighten-text($color, $amount: 30%) {
  color: lighten($color, $amount);
}

@mixin lighten-border($color, $width: 1px, $style: solid, $amount: 50%) {
  border: $width $style lighten($color, $amount);
}
