@use "variables";

@mixin container {
  max-width: 1296px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin image-cover {
  vertical-align: middle;
  object-fit: cover;
}
