// ===== Color Variables =====
$primary-color: #0027d5;
$secondary-color: #6c757d;
$background-light: #fbfbfb;
$border-color: #000000;
$black: #000000;
$text-gray: #4b4b4b;
$white: #ffffff;

// ===== Font Variables =====
$default-font: "noto sans tc";
$default-line-height: 1.5;

// ===== Size Variables =====
$border-radius: 40px;
$max-width: 1280px;

// ===== Responsive Breakpoints =====
$breakpoint-tablet: 1106px;
$breakpoint-mobile: 768px;

// Image link
$hero-content-background-url: "https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true";
