@use "../variables" as *;
@use "../mixin" as *;

.btn-read-more {
  display: inline-block;
  color: $text-gray;
  padding: 8px 16px;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  &:hover {
    color: $white;
    border: 1px solid $primary-color;
    background: $primary-color;
  }
}

.btn-social-icon {
  width: 44px;
  height: 44px;
  max-width: 44px;
  max-height: 44px;
  @include flex-center;
}
