@use "../variables" as *;
@use "../mixin" as *;

.latest-article-content-container {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 24px;
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}

.latest-article-content {
  display: flex;
  flex-direction: column;
  max-width: 636px;
  gap: 12px;
}

.hero-content-title {
  font-size: 120px;
  font-weight: 900;
  color: $primary-color;
  @media (max-width: $breakpoint-tablet) {
    font-size: 80px;
  }
  @media (max-width: $breakpoint-mobile) {
    font-size: 52px;
  }
}

.hero-content-subtitle {
  font-size: 28px;
  font-weight: 700;
  color: $primary-color;
}
