@use "../variables" as *;
@use "../mixin" as *;

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.nav-item {
  display: inline-block;
  height: 42px;
  color: black;
  font-size: 28px;
  font-weight: 700;
  line-height: $default-line-height;
  padding: 20px;
  &:hover {
    color: $primary-color;
  }
}
