body {
  font-family: "noto sans tc";
}

.wrap {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.blog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-item {
  width: 32%;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

/* 避免人氣文章破版 */
@media (max-width: 1106px) {
  .blog-item {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .blog-item {
    width: 100%;
  }
}

.blog-item img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.blog-item .tag {
  display: flex;
  align-items: center;
  color: #0027d5;
  font-size: 24px;
  font-weight: 500;
}

.blog-item .tag a {
  text-decoration: none;
  margin-right: 5px;
}

.blog-item .tag a.popular-tag {
  display: inline-block;
  background-color: #0027d5;
  color: white;
  padding: 6px 12px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
}

.blog-item h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

.blog-item .excerpt {
  color: #4b4b4b;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 16px;
}

.blog-item .btn {
  display: inline-block;
  width: auto;
}

.blog-item .btn a {
  display: block;
  color: #4b4b4b;
  text-decoration: none;
  padding: 8px 16px;
  border: #000 1px solid;
  border-radius: 40px;
}

.blog-item .btn a:hover {
  color: #fff;
  background: #4b4b4b;
}
