body {
  font-family: Noto-Sans-TC;
}

* {
  outline: auto;
}

.wrap {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1280px;
  display: flex;
  justify-content: center;
}

.blog-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.blog-item {
  width: 30%;
  line-height: 1.5;
}

.blog-item img {
  display: block;
  width: 100%;
  height: auto;
}

.blog-item .date {
  font-size: 16px;
  line-height: 1.5;
}

.blog-item .tag {
  color: #0027d5;
  font-size: 24px;
}

.blog-item h3 {
  font-size: 28px;
}

.blog-item .excerpt {
  color: #0027d5;
  font-size: 24px;
}
